<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="mp250db" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\wiretechfab.com\companyfolders\MP2ACC2000\Data\mp250db.mdb;Persist Security Info=True;Jet OLEDB:Database Password=***Removed***" providerName="System.Data.OleDb" />
    <add name="DashboardDbEntities" connectionString="metadata=res://*/Dashboard.csdl|res://*/Dashboard.ssdl|res://*/Dashboard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server2008;initial catalog=Dashboard;persist security info=True;user id=sa;password=***Removed***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SytelineDbEntities" connectionString="metadata=res://*/Syteline.csdl|res://*/Syteline.ssdl|res://*/Syteline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSQLSVR;initial catalog=WTF_App;user id=sa;password=***Removed***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FactTrakEntities" connectionString="metadata=res://*/FactTrak.csdl|res://*/FactTrak.ssdl|res://*/FactTrak.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSQLSVR;initial catalog=FT_Operational;persist security info=True;user id=sa;password=***Removed***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>